.ProcedureDetails {
    width: 1288px;
    height: 732px;
    gap: 24px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #E8EAED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divProcedureDetails {
    width: 1224px;
    height: 668px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
.titleProcedureDetails{
    width: 707px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: right;
    color: #202E46;
    margin: 0;
}
.typeProcedure {
    width: 320px;
    height: 60px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.typeProcedure :focus {
    border: 1.5px solid #3872DC;
    box-shadow: 0px 0px 0px 4px #DEEAFF;
}
.labelOfSelect {
    width: 320px;
    height: 19px;
    gap: 8px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: right;
    color: #202E46;
}
.divSelect {
    width: 327px;
    height: 35px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #E8EAED;
    cursor: pointer;
    text-align: right;
    direction: rtl;
}
.divSelect>option {
    cursor: pointer;
}
.option {
    width: 272px;
    height: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: right;
    color: #0A2A5D;
}
.BoxOpeningPermissions {
    width: 1224px;
    height: 60px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Open Sans;
}
.BoxOpeningPermissions :focus{
    box-shadow: 0px 0px 0px 4px #DEEAFF;
    border: 1.5px solid #3872DC;
}
.BoxOpeningPermissions>div {
    width: 1224px;
    height: 35px;
    gap: 6px;
}
.labelCount {
    width: 1222px;
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: right;
    color: #202E46;
}
.inputCount {
    width: 200px;
    height: 35px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #E8EAED;
    text-align: right;
    outline: none;
    padding: 0;
    margin: 0;
}