.ProcedureDescription {
    width: 1288px;
    height: 300px;
    gap: 24px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #E8EAED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divTitleDescription {
    width: 1224px;
}
.titleDescription {
    width: 1224px;
    height: 32px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}
.titleDescription >h3 {
    font-family: Open Sans;
    font-size: 24px;
    width: 707px;
    height: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: right;
    color: #202E46;
}
.textareaDescription {
    width: 1224px;
    height: 180px;
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textareaDescription :focus {
    border: 1.5px solid #3872DC;
    box-shadow: 0px 0px 0px 4px #DEEAFF;
}
.textareaDescription>textarea {
    width: 1224px;
    height: 180px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    resize: inherit;
    text-align: end;
    font-family: Open Sans;
    border: 1px solid #E8EAED;
    outline: none;
    padding: 4px;
}