.SammryAndSubmit {
    width: 1288px;
    gap: 24px;
    border-radius: 16px;
    border: 1px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #E8EAED;
    display: flex;
    justify-content: end;
    align-items: center;
}
.SammryAndSubmit>div {
    padding: 40px;
}
.h3 {
    margin: 18px;
}
.Approval {
    gap: 10px;
    opacity: 0px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonApproval {
    width: 68px;
    height: 39px;
    gap: 8px;
    border-radius: 8px;
    background-color: #3872DC;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.Approval :hover{
    box-shadow: 0px 0px 0px 4px #DEEAFF;
}